{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	  	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P323NJGM');</script>
<!-- End Google Tag Manager -->
	  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <title>Verantes living</title>
	  
    <link rel="stylesheet" href="{% static 'css/estimate.css' %}" type="text/css">
    {% include 'css.html' %}

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P323NJGM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="formhead">
    <div>
        <img src="{% static 'images/logo-o.png' %}" alt="Verantes Logo">
    </div>
</div>
<div class="flowIndicationTitle">
    <span class="FITitle" id="step01">LET'S GET STARTED</span>
    <span class="FICounts">STEP <!-- -->1<!-- --> OF<!-- -->3</span>
</div>
<div class="componentswithbuttons" style="margin:0 auto">
    <div class="yourFloorPlanContainer">
        <div class="sideOne">
            <div class="FPC_Container">
                <div class="FPCFloorplans">
                    <div class="FPCTitle">Your floorplan</div>
                    <div class="radio-buttons-container">
                        
                            <div class="radio-toolbar">
                                <input
                                    type="radio"
                                    name="configHouse"
                                    id="configHouse0"
                                    value="1 BHK"
                                    alt="577">
                                <label for="configHouse0">
                                    <div class="individualFPCard">1 BHK</div>
                                </label>
                            </div>
                        
                        
                            <div class="radio-toolbar"><input
                                    type="radio"
                                    name="configHouse"
                                    id="configHouse1"
                                    value="2 BHK"
                                    alt="980">
                                    <label for="configHouse1">
                                        <div class="individualFPCard">2 BHK</div>
                                    </label>
                                </div>
                            
                            
                                <div class="radio-toolbar">
                                    <input type="radio"
                                    name="configHouse"
                                    id="configHouse2"
                                    value="3 BHK"
                                    alt="1575">
                                    <label for="configHouse2">
                                        <div class="individualFPCard">3 BHK</div>
                                    </label>
                                </div>
                            
                                <div class="radio-toolbar">
                                    <input type="radio"
                                    name="configHouse"
                                    id="configHouse3"
                                    value="4 BHK"
                                    alt="2368">
                                    <label for="configHouse3">
                                        <div class="individualFPCard">3+ BHK</div>
                                    </label>
                                </div>
                            
                        </div>
                    </div>
                    <div class="FPCTitle"
                    style="margin-top:26px">Purpose</div>
                    <div class="purpose-section">
                        <button class="purpose-toggle-button "
                        id="purpose_btn1"
                        value="movein">Move
                        In</button>
                        <button class="purpose-toggle-button "
                        id="purpose_btn2"
                        value="rental">Rent Out</button>
                        <button class="purpose-toggle-button "
                        id="purpose_btn3"
                        value="movein">Renovate In</button>
                    </div>
                </div>
            </div>
            <div class="sideTwo">
                <div class="sideImage">
                    <img src="{% static 'images/step1.png' %}">
                </div>
                <div class="sidetwotext">
                    <p>Your Ideas. Our Expertise.</p>
                    <p> Our 600+ design experts use state-of-the-art 3D design technology,
                     SpaceCraft, to ensure that you get the perfect designs for your home.
                      Wait no more! Start your home interiors journey with us.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'js.html' %}
</body>
</html>