{% load static %}
<!-- Start Footer -->
    <footer class="defalut-footer light padding-py-10 footer__workspace">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="item_about">
              <a class="logof" href="workspace.html">
                <img src="{% static 'images/logo-o.png' %}" alt="" />
              </a>
              <p class="pr-5">
               Prepare for an extraordinary journey with Verantes Living, where each step reflects our unwavering dedication to bringing you the best.Prepare for an extraordinary journey with Verantes Livingt.
              </p>
              <div class="address pr-5">
				  <span>Plot No. 10, Udyog Kendra 1, Ecotech III,</br> Greater Noida, Uttar Pradesh 201306</span>
                <span>Call us: <a href="tel:+917291831831">+917291831831</a></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-2">
            <div class="item_links">
              <h4>Verantes Living</h4>
              <a class="nav-link" href="">The Team</a>
              <a class="nav-link" href="">Get Estimate</a>
              <a class="nav-link" href="">Book Virtual Meeting</a>
		 	  <a class="nav-link" href="">Modular Kitchen Cost Calculator</a>
			  <a class="nav-link" href="">Bathroom Designs</a>
			  <a class="nav-link" href="">Kids Bedroom</a>
			 
				
				
		
				
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-2">
            <div class="item_links">
              <h4>Support</h4>
              <a class="nav-link" href="">Raise issue</a>
              <a class="nav-link" href="">My issues</a>
              <a class="nav-link" href="">Contact us</a>
              <a class="nav-link" href="">Privacy Policy</a>
				<a class="nav-link" href="">Terms of Use</a>
				<a class="nav-link" href="">Terms &amp; Conditions</a>
				
				
	
            </div>
          </div>
		
			<div class="col-6 col-md-6 col-lg-2">
            <div class="item_links">
              <h4>e-magazine</h4>
              <a class="nav-link" href="">Buying Guides</a>
				
			<a class="nav-link" href="">Style Your Home</a>
				<a class="nav-link" href="">Interior 101</a>
				<a class="nav-link" href="">Interiors By Verantes</a>
				<a class="nav-link" href="">Verantes in Your City</a>
				<a class="nav-link" href="">FAQs</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mt-4 mt-lg-0">
            <div class="item_subscribe">
              <h4>Subscribe</h4>
              <p>
                Subscribe to get the latest<br />
                news form us
              </p>
              <form class="form-row">
                <div class="col-md-11 form-group subscribebtn">
                  <div class="item_input">
                    <input type="email" class="form-control rounded-12 border-1" id="exampleInputEmail1" placeholder="Enter email address" aria-describedby="emailHelp">
                    <button type="button" class="btn ripple_circle scale rounded-8 btn_subscribe">
                      <i class="tio send"></i>
                    </button>
                  </div>
                </div>
              </form>
				<div class="col-12 col-lg-12">
          <div class="copyright">
            <span>© <script>document.write(new Date().getFullYear());</script> all rights reserved 
            <a href="https://verantesliving.com" target="_blank">Verantes Living</a>
             </span>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End. Footer -->
<section class="service__workspace img-faci1 margin-my-0 padding-py-6">
          <div class="container-fluid">
			  
   
<div class="row">
                <div class="col-12 col-md-12 col-lg-12 ">
          
						  <p>At HomeLane, we bring together functionality and aesthetics to provide homeowners with customised and efficient home designs. Our designers specialise in home interior designs and home décor, and help you create a personalized home to suit your lifestyle. From sophisticated living room designs to space-saving and clutter-free interior designs, we are here to help you find the best home decor and home design to match your needs and style. All our products come with up to 10-year warranty along with unwavering support and maintenance services. Explore thousands of inspiring interior designs or get a free estimate – it's all here on HomeLane.com, your one stop for complete home interiors.</p>
              </div>
        	<div class="col-12 col-md-12 bottom-taglist pt-4">
            <div class="item_links">
              <h4>Locations</h4>
             				
		   <a href="/in/interiors/goa">
				Interior Designer in Goa
			</a><a href="/in/interiors/chandigarh">
				Interior Designer in Chandigarh
			</a><a href="/in/interiors/trivandrum">
				Interior Designer in Trivandrum
			</a><a href="/in/interiors/vadodara">
				Interior Designer in Vadodara
			</a><a href="/in/interiors/patna">
				Interior Designer in Patna
			</a><a href="/in/interiors/bhubaneswar">
				Interior Designer in Bhubaneswar
			</a><a href="/in/interiors/guwahati">
				Interior Designer in Guwahati
			</a><a href="/in/interiors/bhopal">
				Interior Designer in Bhopal
			</a><a href="/in/interiors/nashik">
				Interior Designer in Nashik
			</a><a href="/in/interiors/navi-mumbai">
				Interior Designer in Navi Mumbai
			</a><a href="/in/interiors/dehradun">
				Interior Designer in Dehradun
			</a><a href="/in/interiors/kanpur">
				Interior Designer in Kanpur
			</a><a href="/in/interiors/madurai">
				Interior Designer in Madurai
			</a><a href="/in/interiors/thrissur">
				Interior Designer in Thrissur
			</a><a href="/in/interiors/raipur">
				Interior Designer in Raipur
			</a><a href="/in/interiors/ranchi">
				Interior Designer in Ranchi
			</a><a href="/in/interiors/rajkot">
				Interior Designer in Rajkot
			</a><a href="/in/interiors/pondicherry">
				Interior Designer in Pondicherry
			</a><a href="/in/interiors/ludhiana">
				Interior Designer in Ludhiana
			</a><a href="/in/interiors/srinagar">
				Interior Designer in Srinagar
			</a><a href="/in/interiors/salem">
				Interior Designer in Salem
			</a><a href="/in/interiors/agra">
				Interior Designer in Agra
			</a><a href="/in/interiors/amritsar">
				Interior Designer in Amritsar
			</a><a href="/in/interiors/jalandhar">
				Interior Designer in Jalandhar
			</a><a href="/in/interiors/meerut">
				Interior Designer in Meerut
			</a><a href="/in/interiors/gorakhpur">
				Interior Designer in Gorakhpur
			</a><a href="/in/interiors/jodhpur">
				Interior Designer in Jodhpur
			</a><a href="/in/interiors/varanasi">
				Interior Designer in Varanasi
			</a>
            </div>
          </div>
                
         <div class="col-12 col-md-12 bottom-taglist pt-4">
            <div class="item_links">
              <h4>Modular Kitchen</h4>
             				
		   <a href="/in/interiors/goa">
				Interior Designer in Goa
			</a><a href="/in/interiors/chandigarh">
				Interior Designer in Chandigarh
			</a><a href="/in/interiors/trivandrum">
				Interior Designer in Trivandrum
			</a><a href="/in/interiors/vadodara">
				Interior Designer in Vadodara
			</a><a href="/in/interiors/patna">
				Interior Designer in Patna
			</a><a href="/in/interiors/bhubaneswar">
				Interior Designer in Bhubaneswar
			</a><a href="/in/interiors/guwahati">
				Interior Designer in Guwahati
			</a><a href="/in/interiors/bhopal">
				Interior Designer in Bhopal
			</a><a href="/in/interiors/nashik">
				Interior Designer in Nashik
			</a><a href="/in/interiors/navi-mumbai">
				Interior Designer in Navi Mumbai
			</a><a href="/in/interiors/dehradun">
				Interior Designer in Dehradun
			</a><a href="/in/interiors/kanpur">
				Interior Designer in Kanpur
			</a><a href="/in/interiors/madurai">
				Interior Designer in Madurai
			</a><a href="/in/interiors/thrissur">
				Interior Designer in Thrissur
			</a><a href="/in/interiors/raipur">
				Interior Designer in Raipur
			</a><a href="/in/interiors/ranchi">
				Interior Designer in Ranchi
			</a><a href="/in/interiors/rajkot">
				Interior Designer in Rajkot
			</a><a href="/in/interiors/pondicherry">
				Interior Designer in Pondicherry
			</a><a href="/in/interiors/ludhiana">
				Interior Designer in Ludhiana
			</a><a href="/in/interiors/srinagar">
				Interior Designer in Srinagar
			</a><a href="/in/interiors/salem">
				Interior Designer in Salem
			</a><a href="/in/interiors/agra">
				Interior Designer in Agra
			</a><a href="/in/interiors/amritsar">
				Interior Designer in Amritsar
			</a><a href="/in/interiors/jalandhar">
				Interior Designer in Jalandhar
			</a><a href="/in/interiors/meerut">
				Interior Designer in Meerut
			</a><a href="/in/interiors/gorakhpur">
				Interior Designer in Gorakhpur
			</a><a href="/in/interiors/jodhpur">
				Interior Designer in Jodhpur
			</a><a href="/in/interiors/varanasi">
				Interior Designer in Varanasi
			</a>
            </div>
          </div>	<div class="col-12 col-md-12 bottom-taglist pt-4">
            <div class="item_links">
              <h4>Wardrobe Design</h4>
             				
		 <a href="/in/interiors/delhi">Interior Designer in Delhi</a>
					   <a href="/in/interiors/gurugram">
				Interior Designer in Gurugram
			</a><a href="/in/interiors/noida">
				Interior Designer in Noida
			</a><a href="/in/interiors/indore">
				Interior Designer in Indore
			</a><a href="/in/interiors/lucknow">
				Interior Designer in Lucknow
			</a><a href="/in/interiors/ghaziabad">
				Interior Designer in Ghaziabad
			</a><a href="/in/interiors/faridabad">
				Interior Designer in Faridabad
			</a><a href="/in/interiors/bengaluru">
				Interior Designer in Bengaluru
			</a><a href="/in/interiors/chennai">
				Interior Designer in Chennai
			</a><a href="/in/interiors/hyderabad">
				Interior Designer in Hyderabad
			</a><a href="/in/interiors/kochi">
				Interior Designer in Kochi
			</a><a href="/in/interiors/mysore">
				Interior Designer in Mysore
			</a><a href="/in/interiors/coimbatore">
				Interior Designer in Coimbatore
			</a><a href="/in/interiors/mangalore">
				Interior Designer in Mangalore
			</a><a href="/in/interiors/vijayawada">
				Interior Designer in Vijayawada
			</a><a href="/in/interiors/vizag">
				Interior Designer in Vizag
			</a><a href="/in/interiors/kolkata">
				Interior Designer in Kolkata
			</a><a href="/in/interiors/mumbai">
				Interior Designer in Mumbai
			</a><a href="/in/interiors/pune">
				Interior Designer in Pune
			</a><a href="/in/interiors/ahmedabad">
				Interior Designer in Ahmedabad
			</a><a href="/in/interiors/jaipur">
				Interior Designer in Jaipur
			</a><a href="/in/interiors/surat">
				Interior Designer in Surat
			</a><a href="/in/interiors/thane">
				Interior Designer in Thane
			</a><a href="/in/interiors/nagpur">
				Interior Designer in Nagpur
			</a>
            </div>
          </div>              
                  
             <div class="col-12 col-md-12 bottom-taglist pt-4">
            <div class="item_links">
              <h4>Interior Design</h4>
             				
		   <a href="/in/interiors/delhi">Interior Designer in Delhi</a>
					   <a href="/in/interiors/gurugram">
				Interior Designer in Gurugram
			</a><a href="/in/interiors/noida">
				Interior Designer in Noida
			</a><a href="/in/interiors/indore">
				Interior Designer in Indore
			</a><a href="/in/interiors/lucknow">
				Interior Designer in Lucknow
			</a><a href="/in/interiors/ghaziabad">
				Interior Designer in Ghaziabad
			</a><a href="/in/interiors/faridabad">
				Interior Designer in Faridabad
			</a><a href="/in/interiors/bengaluru">
				Interior Designer in Bengaluru
			</a><a href="/in/interiors/chennai">
				Interior Designer in Chennai
			</a><a href="/in/interiors/hyderabad">
				Interior Designer in Hyderabad
			</a><a href="/in/interiors/kochi">
				Interior Designer in Kochi
			</a><a href="/in/interiors/mysore">
				Interior Designer in Mysore
			</a><a href="/in/interiors/coimbatore">
				Interior Designer in Coimbatore
			</a><a href="/in/interiors/mangalore">
				Interior Designer in Mangalore
			</a><a href="/in/interiors/vijayawada">
				Interior Designer in Vijayawada
			</a><a href="/in/interiors/vizag">
				Interior Designer in Vizag
			</a><a href="/in/interiors/kolkata">
				Interior Designer in Kolkata
			</a><a href="/in/interiors/mumbai">
				Interior Designer in Mumbai
			</a><a href="/in/interiors/pune">
				Interior Designer in Pune
			</a><a href="/in/interiors/ahmedabad">
				Interior Designer in Ahmedabad
			</a><a href="/in/interiors/jaipur">
				Interior Designer in Jaipur
			</a><a href="/in/interiors/surat">
				Interior Designer in Surat
			</a><a href="/in/interiors/thane">
				Interior Designer in Thane
			</a><a href="/in/interiors/nagpur">
				Interior Designer in Nagpur
			</a><a href="/in/interiors/goa">
				Interior Designer in Goa
			</a><a href="/in/interiors/chandigarh">
				Interior Designer in Chandigarh
			</a><a href="/in/interiors/trivandrum">
				Interior Designer in Trivandrum
			</a><a href="/in/interiors/vadodara">
				Interior Designer in Vadodara
			</a><a href="/in/interiors/patna">
				Interior Designer in Patna
			</a><a href="/in/interiors/bhubaneswar">
				Interior Designer in Bhubaneswar
			</a><a href="/in/interiors/guwahati">
				Interior Designer in Guwahati
			</a><a href="/in/interiors/bhopal">
				Interior Designer in Bhopal
			</a><a href="/in/interiors/nashik">
				Interior Designer in Nashik
			</a><a href="/in/interiors/navi-mumbai">
				Interior Designer in Navi Mumbai
			</a><a href="/in/interiors/dehradun">
				Interior Designer in Dehradun
			</a><a href="/in/interiors/kanpur">
				Interior Designer in Kanpur
			</a><a href="/in/interiors/madurai">
				Interior Designer in Madurai
			</a><a href="/in/interiors/thrissur">
				Interior Designer in Thrissur
			</a><a href="/in/interiors/raipur">
				Interior Designer in Raipur
			</a><a href="/in/interiors/ranchi">
				Interior Designer in Ranchi
			</a><a href="/in/interiors/rajkot">
				Interior Designer in Rajkot
			</a><a href="/in/interiors/pondicherry">
				Interior Designer in Pondicherry
			</a><a href="/in/interiors/ludhiana">
				Interior Designer in Ludhiana
			</a><a href="/in/interiors/srinagar">
				Interior Designer in Srinagar
			</a><a href="/in/interiors/salem">
				Interior Designer in Salem
			</a><a href="/in/interiors/agra">
				Interior Designer in Agra
			</a><a href="/in/interiors/amritsar">
				Interior Designer in Amritsar
			</a><a href="/in/interiors/jalandhar">
				Interior Designer in Jalandhar
			</a><a href="/in/interiors/meerut">
				Interior Designer in Meerut
			</a><a href="/in/interiors/gorakhpur">
				Interior Designer in Gorakhpur
			</a><a href="/in/interiors/jodhpur">
				Interior Designer in Jodhpur
			</a><a href="/in/interiors/varanasi">
				Interior Designer in Varanasi
			</a><a href="/in/interiors/jammu">
				Interior Designer in Jammu
			</a>
            </div>
          </div>   
                
                 
             
           
	
              </div>
		
			</div>
				 </div></section>



    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
      </svg>
    </div>

    <!-- Start Section Loader -->
<!--    <section class="loading_overlay">
      <div class="loader_logo">
        <img class="logo" src="assets/images/logo-o.png">
      </div>
    </section>-->
    <!-- End. Loader -->
	