{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	  	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P323NJGM');</script>
<!-- End Google Tag Manager -->
	  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <title>Verantes living</title>
	  
	  
	   {% include 'css.html' %}

  


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P323NJGM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="wrapper">
    <div id="content">
      <!-- Start header -->
      {% include 'header.html' %}
      <!-- End header -->

      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start Banner Section -->
        <section class="demo_1 demo__charity demo__workspace" id="booknow">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <div class="banner_title">
					 <h4 class="mr-2 mt-4 text-lg-left d-none d-md-block">Welcome to Verantes</h4>
					
             <div class="scrolling-words-container">
				 <div class="row">
	  <span id="head1">Your Dream</span>
  <span class="scrolling-words-box"  id="head2">
    <ul>
      <li>Kitchen</li>
      <li>Wardrobe</li>
      <li>Vanity Unit</li>
      <li>Bar Unit</li>
		 <li>Kitchen</li>
  
    </ul>
  </span>
  <span id="head3">awaits</span>
</div></div>
            <p class=" text-lg-left text-sm-center">At Verantes Living, our expert kitchen designers are here to do the heavy lifting for you.</p>    

                </div>
              </div>
              {% include 'contact.html' %}
            </div>
          </div>

          <div class="bg__cover_office">
            <div class="img__off">
              <img src="{% static 'images/office.jpg' %}" alt="">
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="item__conatct">
                    <div class="item__top text-lg-left text-sm-center">
                      <h3 class="">Your Dream Kitchen Awaits</h3>
                      <p>At Verantes Living, our expert kitchen designers are here to do the heavy lifting for you.</p>
                    </div>
                <!--    <div class="item__bottom">
                      <div class="person__peo">
                        <img src="assets/images/01.png" alt="">
                        <img src="assets/images/15.png" alt="">
                        <img src="assets/images//02.png" alt="">
                      </div>
                      <p class="c-gray font-s-14 mb-0">Call Us: <a href="tel:+44 20 3868 6470" class="c-orange-red">+44
                          20
                          3868 6470</a> </p>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
        <!-- End Banner -->

        <!-- Start service__workspace -->
        <section class="service__workspace padding-py-12" id="howitworks">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-6">
                <div class="title_sections">
                  <h2>Creating the Extraordinary: Your Verantes Journey</h2>
                  <p>Prepare for an extraordinary journey with Verantes Living, where each step reflects our unwavering dedication to bringing you the best.
</p>
                </div>
              </div>
            </div>
			  
	
			  
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3 block__item mb-4 mb-lg-0 text-center text-md-left  pe-0" >
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="0">
                  <div class="media">
                    <div class="ico">
                       <img src="{% static 'images/consult.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt d-flex justify-content-between">
                        <h4>Consult Our  <br>Design Experts</h4>
                        <i class="tio arrow_forward my-auto c-gray font-s-18 d-none d-md-block"></i>
						   
                      </div>
						<div class="col-12  d-block d-md-none">
						<i class="tio arrow_downward my-auto c-gray font-s-18 d-block d-md-none"></i>
						</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-3 block__item mb-4 mb-lg-0">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                      <img src="{% static 'images/quote-design.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt d-flex justify-content-between">
                        <h4>Get a Free   <br>Quote & Design</h4>
                        <i class="tio arrow_forward my-auto c-gray font-s-18 d-none d-md-block"></i>
						  
                      </div>
						<div class="col-12  d-block d-md-none">
						<i class="tio arrow_downward my-auto c-gray font-s-18 d-block d-md-none"></i>
						</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-3 block__item  mb-4 mb-lg-0">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="200">
                  <div class="media">
                    <div class="ico">
                       <img src="{% static 'images/place-order.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt d-flex justify-content-between">
                        <h4>Place  <br>Your Order</h4>
                         <i class="tio arrow_forward my-auto c-gray font-s-18 d-none d-md-block"></i>
						  
						  
                      </div>
						<div class="col-12  d-block d-md-none">
						<i class="tio arrow_downward my-auto c-gray font-s-18 d-block d-md-none"></i>
						</div>
                    </div>
                  </div>
                </div>
              </div>
				<div class="col-12 col-md-6 col-lg-3 block__item  mb-4 mb-lg-0">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="200">
                  <div class="media">
                    <div class="ico">
                       <img src="{% static 'images/handover.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt d-flex justify-content-between">
                         <h4>Installation<br> and Handover </h4>
                    
						  
                      </div>
					
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- End. service__workspace -->

		  
<!-- Start end to end offer -->
      	<section class="section__stories blog_slider padding-t-9 padding-px-6">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="swip__stories">
                  <!-- Swiper -->
                  <div class="swiper-container blog-slider">
                    <div class="title_sections_inner">
                      <h2>Modular Kitchen Designs</h2>
                    </div>
                    <div class="swiper-wrapper">
                      {% for i in slider %}
                      {% if i.product|stringformat:"s" == "Moduler Kitchen Designs" %}
                      <div class="swiper-slide sliderbox">
                        <div class="grid_blog_avatar">
                          <div class="cover_blog">
                            <img src="/media/{{i.Image}}" alt="">
                          </div>
                     <div class="body_blog">
                   

                            <a href="single-blog.html" class="caption-item text-center">
                              <h4>
                                {{i.Title}}
                              </h4>
                            
                            </a>

                          </div>
                        </div>
                        <!-- End grid_blog_avatar -->
                      </div>
                      {% endif %}
                      {% endfor %}
                      
                    </div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                      <i class="tio chevron_right"></i>
                    </div>
                    <div class="swiper-button-prev">
                      <i class="tio chevron_left"></i>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </section>
		      	<section class="section__stories blog_slider padding-t-9 padding-px-6">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="swip__stories">
                  <!-- Swiper -->
                  <div class="swiper-container blog-slider">
                    <div class="title_sections_inner">
                      <h2>Modular Wordrobe Design</h2>
                    </div>
                    <div class="swiper-wrapper">
                      {% for i in slider %}
                      {% if i.product|stringformat:"s" == "Wordrobe Designs" %}
                      <div class="swiper-slide">
                        <div class="grid_blog_avatar">
                          <div class="cover_blog">
                            <img src="/media/{{i.Image}}" alt="">
                          </div>
                        <div class="body_blog">
                   

                            <a href="single-blog.html" class="caption-item text-center">
                              <h4>
                                {{i.Title}}
                              </h4>
                            
                            </a>

                          </div>
                        </div>
                        <!-- End grid_blog_avatar -->
                      </div>
                      {% endif %}
                      {% endfor %}
                      

                    </div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                      <i class="tio chevron_right"></i>
                    </div>
                    <div class="swiper-button-prev">
                      <i class="tio chevron_left"></i>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. end to end offer -->
		  
	<section class="section__stories blog_slider padding-b-9 padding-t-9 padding-px-6">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="swip__stories">
                  <!-- Swiper -->
                  <div class="swiper-container blog-slider">
                    <div class="title_sections_inner">
                      <h2>Vanity Units Design</h2>
                    </div>
                    <div class="swiper-wrapper">
                      {% for i in slider %}
                      {% if i.product|stringformat:"s" == "Vanity Unit Design" %}
                      <div class="swiper-slide">
                        <div class="grid_blog_avatar">
                          <div class="cover_blog">
                            <img src="/media/{{i.Image}}" alt="">
                          </div>
                        <div class="body_blog">
                   

                            <a href="single-blog.html" class="caption-item text-center">
                              <h4>
                                {{i.Title}}
                              </h4>
                            
                            </a>

                          </div>
                        </div>
                        <!-- End grid_blog_avatar -->
                      </div>
                      {% endif %}
                      {% endfor %}
                      
                    </div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                      <i class="tio chevron_right"></i>
                    </div>
                    <div class="swiper-button-prev">
                      <i class="tio chevron_left"></i>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </section>	  
		  
		  
		  
		  
		  
		          <!-- Start contact__workspace -->
     <section class="service__workspace margin-t-12   text-lg-left text-sm-center padding-py-10">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="title_sections mb-0">
                  <h2>Wish to speak to a designer?
</h2>
                  <p class="mb-0">Get all your pressing questions about stainless steel kitchens, wardrobes, vanity units, and bars answered by our design experts.
                  </p>
                </div>
              </div>
              <div class="col-lg-7 mt-4 mt-lg-0 text-lg-right my-lg-auto">
           
				   <a href="#" class="btn btn_md_primary sweep_top sweep_letter c-white bg-dark opacity-1 rounded-8">
                    <div class="inside_item">
                      <span data-hover="Get FREE design">Schedule a Callback</span>
                    </div>
                  </a>
              </div>
            </div>
          </div>
        </section> 
		  
        <!-- Start product__office -->
        <section class="product__office padding-t-12" id="whystainless">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-6">
                <div class="title_sections">
                  <h2>Stainless Steel over wood, every time!</h2>
                  <p>Upgrade to Verantes’ signature stainless steel kitchen that's resistant to pests, waterproof and forever stylish.</p>
                </div>
              </div>
            </div>
            <div class="row">
				<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <a href="#" class="boo__item" data-aos="fade-up" data-aos-delay="100" >
                  <div class="img__off">
                    <img src="{% static 'images/13.jpg' %}">
                  </div>
                  <div class="body__txt">
                    <div class="d-flex justify-content-between">
                      <div class="title_txt">
                        <h4>Lifetime Warranty</h4>
                        <p>Yes you read it right!</p>
                      </div>
                      <div class="price">#1 Promise</div>
                    </div>
                    <div class="desc_txt">
                      <h5 class="font-s-14 c-dark">Duration</h5>
                      <span class="font-12 c-gray mb-0">25 Years</span>
                    </div>
                    <div class="desc_txt">
                      <h5 class="font-s-14 c-dark">Covers</h5>
                      <span class="font-12 c-gray mb-0">Kitchen Cabinetry</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <a href="#" class="boo__item" data-aos="fade-up" data-aos-delay="0">
                  <div class="img__off">
                    <img src="{% static 'images/12.jpg' %}">
                  </div>
                  <div class="body__txt">
                    <div class="d-flex justify-content-between">
                      <div class="title_txt">
                        <h4>Stainless Steel Excellence</h4>
                        <p>Pest and Water Proof</p>
                      </div>
                      <div class="price">#2 Promise</div>
                    </div>
                    <div class="desc_txt">
                      <h5 class="font-s-14 c-dark">Rusting </h5>
                      <span class="font-12 c-gray mb-0">No</span>
                    </div>
                    <div class="desc_txt">
                      <h5 class="font-s-14 c-dark">Durability</h5>
                      <span class="font-12 c-gray mb-0">Very High</span>
                    </div>
                  </div>
                </a>
              </div>

              

              <div class="col-md-6 col-lg-3 mx-lg-auto">
                <div class="other__office text-lg-left text-sm-center" data-aos="fade-up" data-aos-delay="200">
                  <h3>The Verantes’ Promise</h3>
                  <p>Our promises are your assurance of a superior living space. Discover the commitments that define Verantes. </p>
                  <a href="#" class="btn btn_md_primary sweep_top sweep_letter c-white bg-dark opacity-1 rounded-8">
                    <div class="inside_item">
                      <span data-hover="Let's go">Talk to expert</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 text-center margin-t-5">
            
            </div>
          </div>
        </section>
        <!-- End. product__office -->

        <!-- Start About_office -->
        <section class="about__office margin-t-6 padding-t-6" id="ourproducts">
          <div class="container">
            <div class="head__picture">
              <img src="{% static 'images/0654.jpg' %}" alt="">
            </div>
          </div>
          <div class="body__content padding-b-12">
            <div class="container">
              <div class="info__company">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="title_sections" data-aos="fade-up" data-aos-delay="0">
                      <h2 class="c-white">Discover Verantes Living
</h2>
                      <p class="c-white">We blend innovative design with timeless craftsmanship to create exceptional living spaces.</p>
                    </div>
                  </div>
                  <div class="col-lg-5 ml-auto mb-4 mb-lg-0  text-lg-left text-sm-center">
                    <div class="description_full" data-aos="fade-up" data-aos-delay="100">
                      <p>We redefine the concept of affordable luxury, crafting enduring stainless steel kitchens, wardrobes, vanity units, and bars that embody both style and functionality.
                      </p>
                      <a href="#" class="btn btn_md_primary bg-white c-dark rounded-8 opacity-1 ">Learn More</a>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="item__counter  text-lg-left text-sm-center" data-aos="fade-up" data-aos-delay="0">
                    <h4>
                      <span class="counter">4000</span>
                      +
                    </h4>
                    <p>Sq. Ft. of Manufacturing Facility</p>
                  </div>
                </div>
                <div class="col-md-3 mx-auto">
                  <div class="item__counter  text-lg-left text-sm-center" data-aos="fade-up" data-aos-delay="100">
                    <h4>
                      <span class="counter">1000</span>+
                    </h4>
                    <p>Happy home owners across India</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="item__counter  text-lg-left text-sm-center" data-aos="fade-up" data-aos-delay="200">
                    <h4>
                      <span class="counter">23</span>
                      +
                    </h4>
                    <p>Showrooms across 19 cities in India</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- End. about__office -->

        <!-- Start The Stainless Steel Difference TABS-->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0  text-lg-left text-sm-center">
                    <div class="before_title">
                      <span class="c-orange-logo">The Stainless Steel Difference</span>
                    </div>
                    <h2>Say no to wood and yes    <br>to stainless steel sophistication</h2>
                  </div>
             <!--     <div class="my-auto">
                    <a href="#" class="btn d-block btn_md_primary sweep_top sweep_letter border-1 opacity-1 rounded-8">
                      <div class="inside_item">
                        <span data-hover="All Availability">All Availability</span>
                      </div>
                    </a>
                  </div>-->
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Kitchens</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Wardrobes</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Vanity</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Bar</a>
                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="{% static 'images/15.jpg' %}" alt="">
                    
                        </div>
                        <div class="about__info">
                          <p>Experience culinary excellence with Verantes stainless steel kitchens. Our kitchens not only enhances the style quotient but also ensures unmatched performance and durability. In areas prone to water exposure, stainless steel reigns supreme, making it the ideal choice for your kitchen.</p>
                    <!--      <a href="#">
                            View Availability
                            <i class="tio chevron_right"></i>
                          </a>-->
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="{% static 'images/16.jpg' %}" alt="">
                       
                        </div>
                        <div class="about__info">
                          <p>Elevate your wardrobe experience with Verantes' stainless steel wardrobes that marry sophistication with enduring strength. Stainless steel's durability ensures your wardrobe stays functional and stylish, even in humid conditions. Choose openable, sliding, mirrored, or open wardrobes – Verantes Living caters to every taste.</p>
                       
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="{% static 'images/17.jpg' %}" alt="">
                    
                        </div>
                        <div class="about__info">
                          <p>Verantes’ stainless steel vanity units redefine the experience of personal grooming. Stainless steel’s durability in wet areas ensures your unit stands the test of time. At Verantes, we're not just about promise; we're about delivering excellence. With decades of precise craftsmanship, we ensure your vanity unit embodies style and practicality.</p>
                     
                        </div>
                      </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="{% static 'images/18.jpg' %}" alt="">
                   <!--       <div class="icon_played">
                            <button type="button" class="btn btn_video" data-toggle="modal" data-src="https://www.youtube.com/embed/VvHoHw5AWTk" data-target="#mdllVideo">
                              <div class="scale rounded-circle b play_video">
                                <i class="tio play"></i>
                              </div>
                            </button>
                          </div>-->
                        </div>
                        <div class="about__info">
                          <p>Verantes stainless steel bars are crafted for the ultimate entertainment experience. Stainless steel’s durability against spills and moisture ensures your bar remains a stylish centerpiece. With Verantes, your bar becomes a symbol of excellence in both design and function, turning every occasion into a memorable event.</p>
                       
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. The Stainless Steel Difference -->
<section class="test_monials__workspace margin-my-2 padding-py-10" id="testimonials">
          <div class="container-fluid">
            <div class="box__others  text-lg-left text-sm-center">
              <div class="row">
                <div class="col-lg-5 pl-lg-0">
                  <div class="img__people">
                    <img src="{% static 'images/testi-side.png' %}" alt="">
                    <div class="col-lg-5 item_title ">
                      <div class="title_sections">
                        <div class="before_title">
                          <span class="c-orange-red">Testimonial</span>
                        </div>
                        <h2>Happy Verantes Customers</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 my-lg-auto mx-auto">
                  <div class="people__say">
                    <div class="swiper-container gallery-top swipe_circle">
                      <!-- item Users -->
                      <div class="person_thumbs">
                        <div class="swiper-wrapper">
                          {% for i in testimony %}
                          <div class="swiper-slide">
                            <img class="pagination rounded-circle" src="/media/{{i.Image}}" />
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      <!-- item content -->
                      <div class="swiper-wrapper">
                        {% for i in testimony%}
                        <div class="swiper-slide">
                          <div class="img__user">
                            <img src="/media/{{i.Image}}" alt="">
                          </div>
                          <div class="username👨">
                            <h4>{{i.Name}}</h4>
                            <span>{{i.Subtitle}}</span>
                          </div>
                          <div class="content col-md-8 mx-auto text-center">
                            {{i.Review|safe}}
                          </div>
                          <div class="stars__rate">
                            <i class="tio star"></i>
                            <i class="tio star"></i>
                            <i class="tio star"></i>
                            <i class="tio star"></i>
                            <i class="tio star"></i>
                          </div>
                        </div>
                        {% endfor %}
                        
                      </div>
                    </div>
                    <div class="simple__particles">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <!-- End Swiper -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 9 reason -->
        <section class="service__workspace features__workspace padding-py-12" id="whyus">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-6">
                <div class="title_sections">
               <!--   <div class="before_title">
                    <span class="c-orange-red">Features</span>
                  </div>-->
                  <h2>9 Reasons to Choose Verantes Living</h2>
                  <p>Discover why Verantes Living is the top choice for stainless steel kitchens, wardrobes, vanity units and bars with these 9 distinctive advantages.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="0">
                  <div class="media">
                    <div class="ico">
                   <img src="{% static 'images/hourglass.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Lifetime Durability</h4>
                        <p>Enduring Excellence Guaranteed</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                      <img src="{% static 'images/sketch.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Clean and Germ-Free</h4>
                        <p>Spotless and Non-Porous</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="200">
                  <div class="media">
                    <div class="ico">
                      <img src="{% static 'images/waterproof-fabric.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Waterproof Wonders</h4>
                        <p>Moisture-Proof Marvels</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="0">
                  <div class="media">
                    <div class="ico">
                  <img src="{% static 'images/pest-control.png' %}"> 
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Pest-Free Assurance</h4>
                        <p>Stainless Steel is impenetrable</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                 <img src="{% static 'images/save.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Sensibly Priced</h4>
                        <p>Worth every penny</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="200">
                  <div class="media">
                    <div class="ico">
               <img src="{% static 'images/plant-based.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Eco-Conscious</h4>
                        <p> Sustainability Embedded Grace</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                      <img src="{% static 'images/flameproof-fabric.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Fire-Resistant Strength</h4>
                        <p>Unyielding Against Flames</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                       <img src="{% static 'images/mute.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>Noiseless Operation</h4>
                        <p>Serene Silence Ensured</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
				<div class="col-md-6 col-lg-4 fa_item">
                <div class="inside__zoop" data-aos="fade-up" data-aos-delay="100">
                  <div class="media">
                    <div class="ico">
                       <img src="{% static 'images/texture.png' %}">
                    </div>
                    <div class="media-body">
                      <div class="t_xt">
                        <h4>5000+ Finishes and Textures</h4>
                        <p>Limitless Aesthetic Options</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End. features__workspace -->   

        <!-- Start test_monials__workspace -->
         <!-- clients -->
  <section class="customers bg-white padding-py-12" id="clients">
        <div class="container">
        <div class="slider-1">
          <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-6">
                <div class="title_sections">
               <!--   <div class="before_title">
                    <span class="c-orange-red">Features</span>
                  </div>-->
                  <h2>Our valued trusted partners</h2>
                  <p>Discover why Verantes Living is the top choice for stainless steel kitchens, wardrobes, vanity units and bars with these 9 distinctive advantages.</p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 px-12 text-center">
                               <!-- Image Slider -->
                    <div class="slider-container  px-8">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="alternative">
                                </div>
								   <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid"  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt="alternative">
                                </div>
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
       
    </div>
            
        </div>
    </section>  
		  	  
		  <!-- end of slider-1 -->
    <!-- end of customers -->
		  
		  
        <!-- End. test_monials__workspace -->
		     <section class="service__workspace img-faci1 margin-my-0 padding-py-8">
          <div class="container">
			  
   
<div class="row">
                <div class="col-12 col-md-6 col-lg-3 text-center  mb-4 mb-lg-0 bdr-right">
                
               
                  
                      <div class="justify-content-center">
						   <img src="{% static 'images/place-order.png' %}">
                        <h4>Flat 10 year warranty</h4>
						  <p>Choose interiors designed with superior quality material, leaving no room for defects.</p>
                         
                      </div>
              </div>
                <div class="col-12 col-md-6 col-lg-3 text-center  mb-4 mb-lg-0 bdr-right">
                
               
                  
                      <div class="justify-content-center">
						   <img src="{% static 'images/place-order.png' %}">
                        <h4>Flat 10 year warranty</h4>
						  <p>Choose interiors designed with superior quality material, leaving no room for defects.</p>
                         
                      </div>             
              </div>
	     <div class="col-12 col-md-6 col-lg-3 text-center  mb-4 mb-lg-0 bdr-right">                  
                      <div class="justify-content-center">
						   <img src="{% static 'images/place-order.png' %}">
                        <h4>Flat 10 year warranty</h4>
						  <p>Choose interiors designed with superior quality material, leaving no room for defects.</p>
                      </div>
              </div>
                <div class="col-12 col-md-6 col-lg-3 text-center  mb-4 mb-lg-0 bdr-right">
                
               
                  
                      <div class="justify-content-center">
						   <img src="{% static 'images/place-order.png' %}">
                        <h4>Flat 10 year warranty</h4>
						  <p>Choose interiors designed with superior quality material, leaving no room for defects.</p>				  
						  
                  </div>            
                </div>
              </div>
		
			</div>
				 </div></section>
			  
      </main>
    </div>
    <!-- [id] content -->

    <!-- Start Footer -->
    {% include 'footer.html' %}
	  
    <!-- End. Footer -->
  </div>
  <!-- End. wrapper -->
  {% include 'js.html' %}
  
 
</body></html>